/* Grid component styles */
.t-grid {
  display: grid;
  box-sizing: border-box;
}

.t-grid-cols {
  grid-auto-flow: row;
}

.t-grid-rows {
  grid-auto-flow: column;
}

/* Grid item styles */
.t-grid-item {
  box-sizing: border-box;
}

/* Grid column span */
.t_col-span-auto {
  grid-column: auto;
}
.t_col-span-1 {
  grid-column: span 1;
}
.t_col-span-2 {
  grid-column: span 2;
}
.t_col-span-3 {
  grid-column: span 3;
}
.t_col-span-4 {
  grid-column: span 4;
}
.t_col-span-5 {
  grid-column: span 5;
}
.t_col-span-6 {
  grid-column: span 6;
}
.t_col-span-7 {
  grid-column: span 7;
}
.t_col-span-8 {
  grid-column: span 8;
}
.t_col-span-9 {
  grid-column: span 9;
}
.t_col-span-10 {
  grid-column: span 10;
}
.t_col-span-11 {
  grid-column: span 11;
}
.t_col-span-12 {
  grid-column: span 12;
}

/* Grid row span */
.t_row-span-auto {
  grid-row: auto;
}
.t_row-span-1 {
  grid-row: span 1;
}
.t_row-span-2 {
  grid-row: span 2;
}
.t_row-span-3 {
  grid-row: span 3;
}
.t_row-span-4 {
  grid-row: span 4;
}
.t_row-span-5 {
  grid-row: span 5;
}
.t_row-span-6 {
  grid-row: span 6;
}
.t_row-span-7 {
  grid-row: span 7;
}
.t_row-span-8 {
  grid-row: span 8;
}
.t_row-span-9 {
  grid-row: span 9;
}
.t_row-span-10 {
  grid-row: span 10;
}
.t_row-span-11 {
  grid-row: span 11;
}
.t_row-span-12 {
  grid-row: span 12;
}

/* Grid column start */
.t_col-start-auto {
  grid-column-start: auto;
}
.t_col-start-1 {
  grid-column-start: 1;
}
.t_col-start-2 {
  grid-column-start: 2;
}
.t_col-start-3 {
  grid-column-start: 3;
}
.t_col-start-4 {
  grid-column-start: 4;
}
.t_col-start-5 {
  grid-column-start: 5;
}
.t_col-start-6 {
  grid-column-start: 6;
}
.t_col-start-7 {
  grid-column-start: 7;
}
.t_col-start-8 {
  grid-column-start: 8;
}
.t_col-start-9 {
  grid-column-start: 9;
}
.t_col-start-10 {
  grid-column-start: 10;
}
.t_col-start-11 {
  grid-column-start: 11;
}
.t_col-start-12 {
  grid-column-start: 12;
}

/* Grid column end */
.t_col-end-auto {
  grid-column-end: auto;
}
.t_col-end-1 {
  grid-column-end: 1;
}
.t_col-end-2 {
  grid-column-end: 2;
}
.t_col-end-3 {
  grid-column-end: 3;
}
.t_col-end-4 {
  grid-column-end: 4;
}
.t_col-end-5 {
  grid-column-end: 5;
}
.t_col-end-6 {
  grid-column-end: 6;
}
.t_col-end-7 {
  grid-column-end: 7;
}
.t_col-end-8 {
  grid-column-end: 8;
}
.t_col-end-9 {
  grid-column-end: 9;
}
.t_col-end-10 {
  grid-column-end: 10;
}
.t_col-end-11 {
  grid-column-end: 11;
}
.t_col-end-12 {
  grid-column-end: 12;
}

/* Grid row start */
.t_row-start-auto {
  grid-row-start: auto;
}
.t_row-start-1 {
  grid-row-start: 1;
}
.t_row-start-2 {
  grid-row-start: 2;
}
.t_row-start-3 {
  grid-row-start: 3;
}
.t_row-start-4 {
  grid-row-start: 4;
}
.t_row-start-5 {
  grid-row-start: 5;
}
.t_row-start-6 {
  grid-row-start: 6;
}
.t_row-start-7 {
  grid-row-start: 7;
}
.t_row-start-8 {
  grid-row-start: 8;
}
.t_row-start-9 {
  grid-row-start: 9;
}
.t_row-start-10 {
  grid-row-start: 10;
}
.t_row-start-11 {
  grid-row-start: 11;
}
.t_row-start-12 {
  grid-row-start: 12;
}

/* Grid row end */
.t_row-end-auto {
  grid-row-end: auto;
}
.t_row-end-1 {
  grid-row-end: 1;
}
.t_row-end-2 {
  grid-row-end: 2;
}
.t_row-end-3 {
  grid-row-end: 3;
}
.t_row-end-4 {
  grid-row-end: 4;
}
.t_row-end-5 {
  grid-row-end: 5;
}
.t_row-end-6 {
  grid-row-end: 6;
}
.t_row-end-7 {
  grid-row-end: 7;
}
.t_row-end-8 {
  grid-row-end: 8;
}
.t_row-end-9 {
  grid-row-end: 9;
}
.t_row-end-10 {
  grid-row-end: 10;
}
.t_row-end-11 {
  grid-row-end: 11;
}
.t_row-end-12 {
  grid-row-end: 12;
}
