// InputNumber 组件样式
// 参考 Element Plus 设计规范

.t-input-number {
  position: relative;
  display: inline-flex;
  width: 180px;
  font-size: 14px;
  line-height: 32px;
  vertical-align: middle;

  &__inner {
    width: 100%;
    height: 32px;
    padding: 0 40px 0 12px;
    text-align: left;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    outline: none;
    box-sizing: border-box;
    appearance: textfield;

    // 隐藏数字输入框的箭头
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &::-moz-number-spinners {
      appearance: none;
    }

    // Firefox 隐藏箭头
    &[type="number"] {
      -moz-appearance: textfield;
    }

    &:hover {
      border-color: #c0c4cc;
    }

    &:focus {
      border-color: #409eff;
      outline: none;
    }

    &:disabled {
      background-color: #f5f7fa;
      color: #c0c4cc;
      cursor: not-allowed;
    }
  }

  &__controls {
    position: absolute;
    right: 1px;
    top: 1px;
    bottom: 1px;
    padding: 4px 0;
    display: flex;
    flex-direction: column;
    width: 32px;
    border-left: 1px solid #dcdfe6;
    border-radius: 0 4px 4px 0;
    background-color: #f5f7fa;
    box-sizing: border-box;
  }

  &__decrease,
  &__increase {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    border: none;
    color: #606266;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.2s;
    line-height: 1;
    box-sizing: border-box;

    &:hover:not(:disabled) {
      color: #409eff;
      background-color: #ecf5ff;
    }

    &:disabled {
      color: #c0c4cc;
      cursor: not-allowed;
    }

    &:active:not(:disabled) {
      color: #3a8ee6;
      background-color: #d9ecff;
    }
  }

  &__decrease {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 4px;
  }

  &__increase {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #dcdfe6;
  }

  // 禁用状态
  &--disabled &__inner {
    background-color: #f5f7fa;
    color: #c0c4cc;
    cursor: not-allowed;
    border-color: #e4e7ed;
  }

  &--disabled &__decrease,
  &--disabled &__increase {
    color: #c0c4cc;
    cursor: not-allowed;
  }

  // 小尺寸
  &--small {
    width: 140px;
    line-height: 24px;

    .t-input-number__inner {
      height: 24px;
      padding: 0 32px 0 8px;
      font-size: 12px;
    }

    .t-input-number__controls {
      width: 24px;
    }

    .t-input-number__decrease,
    .t-input-number__increase {
      font-size: 14px;
    }
  }

  // 大尺寸
  &--large {
    width: 200px;
    line-height: 40px;

    .t-input-number__inner {
      height: 40px;
      padding: 0 48px 0 16px;
      font-size: 16px;
    }

    .t-input-number__controls {
      width: 40px;
    }

    .t-input-number__decrease,
    .t-input-number__increase {
      font-size: 18px;
    }
  }

  // 两侧按钮布局
  &--controls-both {
    width: 220px;

    .t-input-number__wrapper {
      display: flex;
      align-items: stretch;
      width: 100%;
    }

    .t-input-number__controls {
      position: static;
      width: 32px;
      border-left: none;
      border-right: 1px solid #f5f7fa;
    }

    .t-input-number__inner {
      padding: 0 12px;
    }

    .t-input-number__decrease {
      border-radius: 4px 0 0 4px;
    }

    .t-input-number__increase {
      border-radius: 0 4px 4px 0;
    }
  }
}
